# Discord
DISCORD_TOKEN=""
DISCORD_GUILD_ID=""

# MongoDB
MONGO_URI=""
MONGO_DATABASE="narutotcg"
## Mongo Read by Separated Key if MONGO_URI is not available
#MONGO_HOST=""
#MONGO_USERNAME=""
#MONGO_PASSWORD=""
#MONGO_AUTH_SOURCE=""

# Permissions
MESSAGE_MANAGER_ROLE_IDS=""

## Restore
RULES_MESSAGE_CHANNEL_ID=""
RULES_MESSAGE_ID=""
